body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u286 {
  position:absolute;
  left:100px;
  top:155px;
  width:533px;
  height:300px;
}
#u287 {
  position:absolute;
  left:2px;
  top:142px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u288 {
  position:absolute;
  left:100px;
  top:775px;
  width:533px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u289 {
  position:absolute;
  left:10px;
  top:2px;
  width:521px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u290 {
  position:absolute;
  left:522px;
  top:347px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u291 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u292 {
  position:absolute;
  left:203px;
  top:295px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u293 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u294 {
  position:absolute;
  left:596px;
  top:304px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u295 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u296 {
  position:absolute;
  left:565px;
  top:199px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u297 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:300px;
}
#u298 {
  position:absolute;
  left:100px;
  top:465px;
  width:533px;
  height:300px;
}
#u299 {
  position:absolute;
  left:2px;
  top:142px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u300 {
  position:absolute;
  left:100px;
  top:100px;
  width:34px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u301 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u302 {
  position:absolute;
  left:149px;
  top:100px;
  width:106px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u303 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
