body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307.5356608095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u933_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:613px;
  height:810px;
}
#u933 {
  position:absolute;
  left:192px;
  top:936px;
  width:593px;
  height:790px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u933_img.mouseDown {
  left:-5px;
  top:-5px;
  width:603px;
  height:800px;
}
#u933.mouseDown {
}
#u934 {
  position:absolute;
  left:2px;
  top:387px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:89px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:355px;
  top:1571px;
  width:224px;
  height:89px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  opacity:0.699999988079071;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u936_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:89px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u936.mouseDown {
}
#u937 {
  position:absolute;
  left:2px;
  top:36px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u938 {
  position:absolute;
  left:419px;
  top:1604px;
  width:31px;
  height:22px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u938_img.mouseDown {
  left:-5px;
  top:-5px;
  width:41px;
  height:32px;
}
#u938.mouseDown {
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:820px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:820px;
}
#u942 {
  position:absolute;
  left:2px;
  top:402px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:20px;
  top:65px;
  width:371px;
  height:660px;
}
#u944 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
}
#u946 {
  position:absolute;
  left:20px;
  top:65px;
  width:371px;
  height:660px;
}
#u947 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u949 {
  position:absolute;
  left:20px;
  top:65px;
  width:360px;
  height:24px;
}
#u950 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u951 {
  position:absolute;
  left:30px;
  top:65px;
  width:360px;
  height:24px;
}
#u952 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:380px;
  height:500px;
}
#u954 {
  position:absolute;
  left:26px;
  top:143px;
  width:360px;
  height:480px;
}
#u954_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u954.mouseDown {
}
#u955 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:248px;
  top:520px;
  width:136px;
  height:54px;
  opacity:0.699999988079071;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u957_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u957.mouseDown {
}
#u958 {
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u959 {
  position:absolute;
  left:287px;
  top:538px;
  width:31px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u959_img.mouseDown {
  left:-5px;
  top:-5px;
  width:41px;
  height:32px;
}
#u959.mouseDown {
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:20px;
  top:89px;
  width:371px;
  height:44px;
}
#u963 {
  position:absolute;
  left:2px;
  top:14px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u964 {
  position:absolute;
  left:55px;
  top:101px;
  width:65px;
  height:22px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u966 {
  position:absolute;
  left:30px;
  top:98px;
  width:15px;
  height:24px;
}
#u967 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u970_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u970 {
  position:absolute;
  left:41px;
  top:603px;
  width:34px;
  height:4px;
}
#u971 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u972 {
  position:absolute;
  left:41px;
  top:569px;
  width:4px;
  height:34px;
}
#u973 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u975 {
  position:absolute;
  left:41px;
  top:163px;
  width:34px;
  height:4px;
}
#u976 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u977 {
  position:absolute;
  left:41px;
  top:163px;
  width:4px;
  height:34px;
}
#u978 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u980 {
  position:absolute;
  left:337px;
  top:163px;
  width:34px;
  height:4px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u982 {
  position:absolute;
  left:367px;
  top:163px;
  width:4px;
  height:34px;
}
#u983 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u985 {
  position:absolute;
  left:337px;
  top:599px;
  width:34px;
  height:4px;
}
#u986 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u987 {
  position:absolute;
  left:367px;
  top:569px;
  width:4px;
  height:34px;
}
#u988 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u989 {
  position:absolute;
  left:365px;
  top:99px;
  width:15px;
  height:24px;
}
#u990 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:480px;
}
#u993 {
  position:absolute;
  left:288px;
  top:1112px;
  width:360px;
  height:480px;
}
#u993_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u993.mouseDown {
}
#u994 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u995 {
  position:absolute;
  left:348px;
  top:1112px;
  width:1px;
  height:480px;
}
#u996 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u997 {
  position:absolute;
  left:288px;
  top:1232px;
  width:360px;
  height:1px;
}
#u998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u999 {
  position:absolute;
  left:288px;
  top:1352px;
  width:360px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1001 {
  position:absolute;
  left:288px;
  top:1412px;
  width:360px;
  height:1px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1003 {
  position:absolute;
  left:288px;
  top:1472px;
  width:360px;
  height:1px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1005 {
  position:absolute;
  left:288px;
  top:1532px;
  width:360px;
  height:1px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1007 {
  position:absolute;
  left:468px;
  top:1112px;
  width:1px;
  height:480px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1009 {
  position:absolute;
  left:528px;
  top:1112px;
  width:1px;
  height:480px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1011 {
  position:absolute;
  left:588px;
  top:1112px;
  width:1px;
  height:480px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1013 {
  position:absolute;
  left:408px;
  top:1112px;
  width:1px;
  height:480px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1015 {
  position:absolute;
  left:288px;
  top:1172px;
  width:360px;
  height:1px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1017 {
  position:absolute;
  left:288px;
  top:1292px;
  width:360px;
  height:1px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:820px;
}
#u1020 {
  position:absolute;
  left:445px;
  top:0px;
  width:417px;
  height:820px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:402px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:465px;
  top:65px;
  width:371px;
  height:660px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
}
#u1025 {
  position:absolute;
  left:465px;
  top:65px;
  width:371px;
  height:660px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u1028 {
  position:absolute;
  left:465px;
  top:65px;
  width:360px;
  height:24px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u1030 {
  position:absolute;
  left:475px;
  top:65px;
  width:360px;
  height:24px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1033_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:380px;
  height:500px;
}
#u1033 {
  position:absolute;
  left:471px;
  top:143px;
  width:360px;
  height:480px;
}
#u1033_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u1033.mouseDown {
}
#u1034 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1036 {
  position:absolute;
  left:693px;
  top:520px;
  width:136px;
  height:54px;
  opacity:0.699999988079071;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1036_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1036.mouseDown {
}
#u1037 {
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u1038 {
  position:absolute;
  left:732px;
  top:538px;
  width:31px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1038_img.mouseDown {
  left:-5px;
  top:-5px;
  width:41px;
  height:32px;
}
#u1038.mouseDown {
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:465px;
  top:89px;
  width:371px;
  height:44px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:14px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u1043 {
  position:absolute;
  left:500px;
  top:101px;
  width:65px;
  height:22px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u1045 {
  position:absolute;
  left:475px;
  top:98px;
  width:15px;
  height:24px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1049 {
  position:absolute;
  left:486px;
  top:603px;
  width:34px;
  height:4px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1051 {
  position:absolute;
  left:486px;
  top:569px;
  width:4px;
  height:34px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1054 {
  position:absolute;
  left:486px;
  top:163px;
  width:34px;
  height:4px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1056 {
  position:absolute;
  left:486px;
  top:163px;
  width:4px;
  height:34px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1059 {
  position:absolute;
  left:782px;
  top:163px;
  width:34px;
  height:4px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1061 {
  position:absolute;
  left:812px;
  top:163px;
  width:4px;
  height:34px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1064 {
  position:absolute;
  left:782px;
  top:599px;
  width:34px;
  height:4px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1066 {
  position:absolute;
  left:812px;
  top:569px;
  width:4px;
  height:34px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:480px;
}
#u1070 {
  position:absolute;
  left:471px;
  top:143px;
  width:360px;
  height:480px;
}
#u1070_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u1070.mouseDown {
}
#u1071 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1072 {
  position:absolute;
  left:531px;
  top:143px;
  width:1px;
  height:480px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1074 {
  position:absolute;
  left:471px;
  top:263px;
  width:360px;
  height:1px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1076 {
  position:absolute;
  left:471px;
  top:383px;
  width:360px;
  height:1px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1078 {
  position:absolute;
  left:471px;
  top:443px;
  width:360px;
  height:1px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1080 {
  position:absolute;
  left:471px;
  top:503px;
  width:360px;
  height:1px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1082 {
  position:absolute;
  left:471px;
  top:563px;
  width:360px;
  height:1px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1084 {
  position:absolute;
  left:651px;
  top:143px;
  width:1px;
  height:480px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1086 {
  position:absolute;
  left:711px;
  top:143px;
  width:1px;
  height:480px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1088 {
  position:absolute;
  left:771px;
  top:143px;
  width:1px;
  height:480px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1090 {
  position:absolute;
  left:591px;
  top:143px;
  width:1px;
  height:480px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1092 {
  position:absolute;
  left:471px;
  top:203px;
  width:360px;
  height:1px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1094 {
  position:absolute;
  left:471px;
  top:323px;
  width:360px;
  height:1px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(44, 195, 183, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1096 {
  position:absolute;
  left:506px;
  top:652px;
  width:50px;
  height:30px;
  opacity:0.8;
  color:#FFFFFF;
}
#u1097 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(44, 195, 183, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1098 {
  position:absolute;
  left:566px;
  top:652px;
  width:50px;
  height:30px;
  opacity:0.8;
  color:#FFFFFF;
}
#u1099 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(44, 195, 183, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1100 {
  position:absolute;
  left:626px;
  top:652px;
  width:50px;
  height:30px;
  opacity:0.8;
  color:#FFFFFF;
}
#u1101 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(44, 195, 183, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1102 {
  position:absolute;
  left:686px;
  top:652px;
  width:50px;
  height:30px;
  opacity:0.8;
  color:#FFFFFF;
}
#u1103 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1104 {
  position:absolute;
  left:746px;
  top:652px;
  width:50px;
  height:30px;
  opacity:0.8;
  color:#FFFFFF;
}
#u1105 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:759px;
  top:652px;
  width:25px;
  height:30px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u1108 {
  position:absolute;
  left:94px;
  top:647px;
  width:1px;
  height:40px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u1110 {
  position:absolute;
  left:48px;
  top:661px;
  width:30px;
  height:13px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112 {
  position:absolute;
  left:111px;
  top:652px;
  width:258px;
  height:30px;
  overflow:hidden;
}
#u1112_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1112_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1113_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:47px;
  top:0px;
  width:30px;
  height:30px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1116 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1118 {
  position:absolute;
  left:134px;
  top:0px;
  width:30px;
  height:30px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1120 {
  position:absolute;
  left:87px;
  top:0px;
  width:37px;
  height:30px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1122 {
  position:absolute;
  left:221px;
  top:0px;
  width:30px;
  height:30px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1124 {
  position:absolute;
  left:174px;
  top:0px;
  width:37px;
  height:30px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1126 {
  position:absolute;
  left:308px;
  top:0px;
  width:30px;
  height:30px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1128 {
  position:absolute;
  left:261px;
  top:0px;
  width:37px;
  height:30px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1130 {
  position:absolute;
  left:395px;
  top:0px;
  width:30px;
  height:30px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u1132 {
  position:absolute;
  left:348px;
  top:0px;
  width:37px;
  height:30px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#26A99E;
}
#u1134 {
  position:absolute;
  left:636px;
  top:694px;
  width:31px;
  height:20px;
  color:#26A99E;
}
#u1135 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u1136 {
  position:absolute;
  left:768px;
  top:692px;
  width:28px;
  height:22px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1138 {
  position:absolute;
  left:506px;
  top:692px;
  width:22px;
  height:22px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:820px;
}
#u1141 {
  position:absolute;
  left:891px;
  top:0px;
  width:417px;
  height:820px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:402px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  position:absolute;
  left:911px;
  top:65px;
  width:371px;
  height:660px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
}
#u1146 {
  position:absolute;
  left:911px;
  top:65px;
  width:371px;
  height:660px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u1149 {
  position:absolute;
  left:911px;
  top:65px;
  width:360px;
  height:24px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u1151 {
  position:absolute;
  left:921px;
  top:65px;
  width:360px;
  height:24px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1154_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:380px;
  height:500px;
}
#u1154 {
  position:absolute;
  left:917px;
  top:143px;
  width:360px;
  height:480px;
}
#u1154_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u1154.mouseDown {
}
#u1155 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1157 {
  position:absolute;
  left:1139px;
  top:520px;
  width:136px;
  height:54px;
  opacity:0.699999988079071;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1157_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1157.mouseDown {
}
#u1158 {
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u1159 {
  position:absolute;
  left:1178px;
  top:538px;
  width:31px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u1159_img.mouseDown {
  left:-5px;
  top:-5px;
  width:41px;
  height:32px;
}
#u1159.mouseDown {
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  position:absolute;
  left:911px;
  top:89px;
  width:371px;
  height:44px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:14px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u1164 {
  position:absolute;
  left:946px;
  top:101px;
  width:65px;
  height:22px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u1166 {
  position:absolute;
  left:921px;
  top:98px;
  width:15px;
  height:24px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1170 {
  position:absolute;
  left:932px;
  top:603px;
  width:34px;
  height:4px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1172 {
  position:absolute;
  left:932px;
  top:569px;
  width:4px;
  height:34px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1175_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1175 {
  position:absolute;
  left:932px;
  top:163px;
  width:34px;
  height:4px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1177 {
  position:absolute;
  left:932px;
  top:163px;
  width:4px;
  height:34px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1180_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1180 {
  position:absolute;
  left:1228px;
  top:163px;
  width:34px;
  height:4px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1182 {
  position:absolute;
  left:1258px;
  top:163px;
  width:4px;
  height:34px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u1185 {
  position:absolute;
  left:1228px;
  top:599px;
  width:34px;
  height:4px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u1187 {
  position:absolute;
  left:1258px;
  top:569px;
  width:4px;
  height:34px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:480px;
}
#u1191 {
  position:absolute;
  left:917px;
  top:143px;
  width:360px;
  height:480px;
}
#u1191_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u1191.mouseDown {
}
#u1192 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1193 {
  position:absolute;
  left:977px;
  top:143px;
  width:1px;
  height:480px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1195 {
  position:absolute;
  left:917px;
  top:263px;
  width:360px;
  height:1px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1197 {
  position:absolute;
  left:917px;
  top:383px;
  width:360px;
  height:1px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1199 {
  position:absolute;
  left:917px;
  top:443px;
  width:360px;
  height:1px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1201 {
  position:absolute;
  left:917px;
  top:503px;
  width:360px;
  height:1px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1203 {
  position:absolute;
  left:917px;
  top:563px;
  width:360px;
  height:1px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1205 {
  position:absolute;
  left:1097px;
  top:143px;
  width:1px;
  height:480px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1207 {
  position:absolute;
  left:1157px;
  top:143px;
  width:1px;
  height:480px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1209 {
  position:absolute;
  left:1217px;
  top:143px;
  width:1px;
  height:480px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:481px;
}
#u1211 {
  position:absolute;
  left:1037px;
  top:143px;
  width:1px;
  height:480px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:232px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1213 {
  position:absolute;
  left:917px;
  top:203px;
  width:360px;
  height:1px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1215 {
  position:absolute;
  left:917px;
  top:323px;
  width:360px;
  height:1px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#26A99E;
}
#u1217 {
  position:absolute;
  left:1082px;
  top:694px;
  width:31px;
  height:20px;
  color:#26A99E;
}
#u1218 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u1219 {
  position:absolute;
  left:1214px;
  top:692px;
  width:28px;
  height:22px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1221 {
  position:absolute;
  left:952px;
  top:692px;
  width:22px;
  height:22px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u1223 {
  position:absolute;
  left:932px;
  top:652px;
  width:31px;
  height:30px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:740px;
  top:964px;
}
#u1225_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1225_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  overflow:hidden;
  touch-action:none;
}
#u1226_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1228 {
  position:absolute;
  left:145px;
  top:29px;
  width:10px;
  height:10px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1230 {
  position:absolute;
  left:136px;
  top:0px;
  width:28px;
  height:22px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1231 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
  background:inherit;
  background-color:rgba(89, 89, 89, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  position:absolute;
  left:740px;
  top:997px;
  width:300px;
  height:2px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1236 {
  position:absolute;
  left:1118px;
  top:672px;
  width:10px;
  height:10px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u1238 {
  position:absolute;
  left:1109px;
  top:643px;
  width:28px;
  height:22px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
  background:inherit;
  background-color:rgba(38, 169, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:973px;
  top:676px;
  width:300px;
  height:2px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
