body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:661px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:820px;
}
#u34 {
  position:absolute;
  left:7px;
  top:56px;
  width:417px;
  height:820px;
}
#u35 {
  position:absolute;
  left:2px;
  top:402px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u38 {
  position:absolute;
  left:48px;
  top:8px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:27px;
  top:121px;
  width:371px;
  height:660px;
}
#u41 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
}
#u43 {
  position:absolute;
  left:27px;
  top:121px;
  width:371px;
  height:660px;
}
#u44 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u46 {
  position:absolute;
  left:27px;
  top:121px;
  width:360px;
  height:24px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u48 {
  position:absolute;
  left:37px;
  top:121px;
  width:360px;
  height:24px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:636px;
}
#u50 {
  position:absolute;
  left:27px;
  top:145px;
  width:371px;
  height:636px;
}
#u50_img.mouseDown {
  left:-5px;
  top:-5px;
  width:381px;
  height:646px;
}
#u50.mouseDown {
}
#u51 {
  position:absolute;
  left:2px;
  top:310px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:145px;
  top:373px;
  width:136px;
  height:54px;
  opacity:0.699999988079071;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u53_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u53.mouseDown {
}
#u54 {
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u55 {
  position:absolute;
  left:189px;
  top:389px;
  width:50px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u55_img.mouseDown {
  left:-5px;
  top:-5px;
  width:60px;
  height:32px;
}
#u55.mouseDown {
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:110px;
  top:665px;
  width:98px;
  height:37px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u61 {
  position:absolute;
  left:145px;
  top:672px;
  width:29px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:207px;
  top:665px;
  width:98px;
  height:37px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u65 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u66 {
  position:absolute;
  left:243px;
  top:672px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u70 {
  position:absolute;
  left:110px;
  top:665px;
  width:98px;
  height:37px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:145px;
  top:672px;
  width:29px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-right:0px;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u75 {
  position:absolute;
  left:208px;
  top:665px;
  width:98px;
  height:37px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#666666;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u77 {
  position:absolute;
  left:244px;
  top:672px;
  width:27px;
  height:16px;
  color:#666666;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:84px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u80 {
  position:absolute;
  left:28px;
  top:696px;
  width:369px;
  height:84px;
}
#u81 {
  position:absolute;
  left:2px;
  top:34px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:35px;
  top:704px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u83_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u83.mouseDown {
}
#u83_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u83.selected {
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:35px;
  top:742px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u85_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u85.mouseDown {
}
#u85_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u85.selected {
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:85px;
  top:704px;
  width:303px;
  height:68px;
  overflow:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u88_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u90_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u90.mouseDown {
}
#u91 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u92 {
  position:absolute;
  left:0px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u93 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u95 {
  position:absolute;
  left:78px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u95_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u95.mouseDown {
}
#u96 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u97 {
  position:absolute;
  left:78px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u100 {
  position:absolute;
  left:156px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u100_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u100.mouseDown {
}
#u101 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:156px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u105 {
  position:absolute;
  left:234px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u105_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u105.mouseDown {
}
#u106 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u107 {
  position:absolute;
  left:234px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u110 {
  position:absolute;
  left:312px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u110_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u110.mouseDown {
}
#u111 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:312px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u115 {
  position:absolute;
  left:390px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u115_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u115.mouseDown {
}
#u116 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:390px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u120 {
  position:absolute;
  left:468px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u120_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u120.mouseDown {
}
#u121 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:468px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126 {
  position:absolute;
  left:85px;
  top:704px;
  width:303px;
  height:68px;
  overflow:hidden;
}
#u126_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u127_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u129_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u129.mouseDown {
}
#u130 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:0px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u134 {
  position:absolute;
  left:78px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u134_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u134.mouseDown {
}
#u135 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:78px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u139 {
  position:absolute;
  left:156px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u139_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u139.mouseDown {
}
#u140 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:156px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u144 {
  position:absolute;
  left:234px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u144_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u144.mouseDown {
}
#u145 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:234px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u149_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u149 {
  position:absolute;
  left:312px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u149_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u149.mouseDown {
}
#u150 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:312px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u154 {
  position:absolute;
  left:390px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u154_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u154.mouseDown {
}
#u155 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:390px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u159_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:88px;
  height:88px;
}
#u159 {
  position:absolute;
  left:468px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u159_img.mouseDown {
  left:-5px;
  top:-5px;
  width:78px;
  height:78px;
}
#u159.mouseDown {
}
#u160 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u161 {
  position:absolute;
  left:468px;
  top:22px;
  width:68px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:35px;
  top:704px;
  width:40px;
  height:68px;
  overflow:hidden;
}
#u163_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:68px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u163_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u164_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u164_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u165_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u165.mouseDown {
}
#u165_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u165.selected {
}
#u166 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u167 {
  position:absolute;
  left:0px;
  top:38px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u167_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u167.mouseDown {
}
#u167_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u167.selected {
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u169 {
  position:absolute;
  left:0px;
  top:78px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u169_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u169.mouseDown {
}
#u169_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u169.selected {
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u171 {
  position:absolute;
  left:0px;
  top:118px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u171_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u171.mouseDown {
}
#u171_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u171.selected {
}
#u172 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 203, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u173 {
  position:absolute;
  left:0px;
  top:158px;
  width:40px;
  height:30px;
  color:#FFFFFF;
}
#u173_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u173.mouseDown {
}
#u173_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 203, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u173.selected {
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
}
#u176 {
  position:absolute;
  left:324px;
  top:155px;
  width:23px;
  height:30px;
}
#u177 {
  position:absolute;
  left:2px;
  top:7px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u178 {
  position:absolute;
  left:286px;
  top:157px;
  width:28px;
  height:28px;
}
#u179 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u180 {
  position:absolute;
  left:357px;
  top:157px;
  width:30px;
  height:26px;
}
#u181 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
}
#u182 {
  position:absolute;
  left:48px;
  top:161px;
  width:41px;
  height:18px;
}
#u183 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
}
#u185 {
  position:absolute;
  left:145px;
  top:373px;
  width:136px;
  height:54px;
  opacity:0.699999988079071;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u185_img.mouseDown {
  left:-5px;
  top:-5px;
  width:146px;
  height:64px;
}
#u185.mouseDown {
}
#u186 {
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u187 {
  position:absolute;
  left:189px;
  top:389px;
  width:50px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u187_img.mouseDown {
  left:-5px;
  top:-5px;
  width:60px;
  height:32px;
}
#u187.mouseDown {
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 3px 4px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 3px 4px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 3px 4px rgba(153, 153, 153, 0.349019607843137);
}
#u190 {
  position:absolute;
  left:130px;
  top:338px;
  width:167px;
  height:125px;
}
#u191 {
  position:absolute;
  left:2px;
  top:54px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u192 {
  position:absolute;
  left:174px;
  top:350px;
  width:79px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u194 {
  position:absolute;
  left:181px;
  top:393px;
  width:66px;
  height:16px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u196 {
  position:absolute;
  left:193px;
  top:431px;
  width:27px;
  height:16px;
  text-align:center;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u198 {
  position:absolute;
  left:130px;
  top:376px;
  width:167px;
  height:1px;
}
#u199 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u200 {
  position:absolute;
  left:130px;
  top:418px;
  width:167px;
  height:1px;
}
#u201 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u203 {
  position:absolute;
  left:434px;
  top:712px;
  width:227px;
  height:36px;
  opacity:0.699999988079071;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:458px;
  top:722px;
  width:183px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
