body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u957 {
  position:absolute;
  left:100px;
  top:155px;
  width:300px;
  height:533px;
}
#u958 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u959 {
  position:absolute;
  left:100px;
  top:100px;
  width:34px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u961 {
  position:absolute;
  left:149px;
  top:100px;
  width:97px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u963_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u963 {
  position:absolute;
  left:308px;
  top:556px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u965 {
  position:absolute;
  left:100px;
  top:698px;
  width:300px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u966 {
  position:absolute;
  left:10px;
  top:2px;
  width:288px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u967 {
  position:absolute;
  left:410px;
  top:100px;
  width:34px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u968 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u969 {
  position:absolute;
  left:459px;
  top:100px;
  width:193px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u971 {
  position:absolute;
  left:410px;
  top:698px;
  width:300px;
  height:78px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u972 {
  position:absolute;
  left:10px;
  top:2px;
  width:288px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u973 {
  position:absolute;
  left:410px;
  top:155px;
  width:300px;
  height:533px;
}
#u974 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u975 {
  position:absolute;
  left:641px;
  top:360px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u977 {
  position:absolute;
  left:641px;
  top:400px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u978 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u979 {
  position:absolute;
  left:641px;
  top:451px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
