body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1023px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u819 {
  position:absolute;
  left:723px;
  top:155px;
  width:300px;
  height:533px;
}
#u820 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u822 {
  position:absolute;
  left:413px;
  top:100px;
  width:34px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u823 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u824 {
  position:absolute;
  left:462px;
  top:100px;
  width:193px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u826 {
  position:absolute;
  left:100px;
  top:698px;
  width:300px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u827 {
  position:absolute;
  left:10px;
  top:2px;
  width:288px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u828 {
  position:absolute;
  left:413px;
  top:155px;
  width:300px;
  height:533px;
}
#u829 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u830 {
  position:absolute;
  left:462px;
  top:596px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u831 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:533px;
}
#u832 {
  position:absolute;
  left:100px;
  top:155px;
  width:300px;
  height:533px;
}
#u833 {
  position:absolute;
  left:2px;
  top:258px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u834 {
  position:absolute;
  left:100px;
  top:100px;
  width:34px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u835 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u836 {
  position:absolute;
  left:149px;
  top:100px;
  width:97px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u838_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u838 {
  position:absolute;
  left:273px;
  top:541px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u839 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u840 {
  position:absolute;
  left:413px;
  top:698px;
  width:300px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u841 {
  position:absolute;
  left:10px;
  top:2px;
  width:288px;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:45px;
}
#u843 {
  position:absolute;
  left:723px;
  top:100px;
  width:34px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
}
#u844 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u845 {
  position:absolute;
  left:772px;
  top:100px;
  width:193px;
  height:45px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u847 {
  position:absolute;
  left:723px;
  top:698px;
  width:300px;
  height:77px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:left;
  line-height:24px;
}
#u848 {
  position:absolute;
  left:10px;
  top:2px;
  width:288px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u849 {
  position:absolute;
  left:784px;
  top:226px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u850 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u851 {
  position:absolute;
  left:945px;
  top:226px;
  width:20px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u852 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
