body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:820px;
}
#u208 {
  position:absolute;
  left:7px;
  top:56px;
  width:417px;
  height:820px;
}
#u209 {
  position:absolute;
  left:2px;
  top:402px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:44px;
}
#u211 {
  position:absolute;
  left:2px;
  top:14px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u212 {
  position:absolute;
  left:48px;
  top:8px;
  width:129px;
  height:37px;
  font-size:32px;
  color:#CCCCCC;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:27px;
  top:121px;
  width:371px;
  height:660px;
}
#u215 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:660px;
}
#u217 {
  position:absolute;
  left:27px;
  top:121px;
  width:371px;
  height:660px;
}
#u218 {
  position:absolute;
  left:2px;
  top:322px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u220 {
  position:absolute;
  left:27px;
  top:121px;
  width:360px;
  height:24px;
}
#u221 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u222 {
  position:absolute;
  left:37px;
  top:121px;
  width:360px;
  height:24px;
}
#u223 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u225_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:380px;
  height:500px;
}
#u225 {
  position:absolute;
  left:33px;
  top:199px;
  width:360px;
  height:480px;
}
#u225_img.mouseDown {
  left:-5px;
  top:-5px;
  width:370px;
  height:490px;
}
#u225.mouseDown {
}
#u226 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u228 {
  position:absolute;
  left:255px;
  top:576px;
  width:136px;
  height:54px;
  opacity:0.699999988079071;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u228_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:54px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u228.mouseDown {
}
#u229 {
  position:absolute;
  left:2px;
  top:19px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u230 {
  position:absolute;
  left:294px;
  top:594px;
  width:31px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u230_img.mouseDown {
  left:-5px;
  top:-5px;
  width:41px;
  height:32px;
}
#u230.mouseDown {
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:27px;
  top:145px;
  width:371px;
  height:44px;
}
#u234 {
  position:absolute;
  left:2px;
  top:14px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u235 {
  position:absolute;
  left:62px;
  top:157px;
  width:65px;
  height:19px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u237 {
  position:absolute;
  left:37px;
  top:154px;
  width:15px;
  height:24px;
}
#u238 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u241_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u241 {
  position:absolute;
  left:48px;
  top:659px;
  width:34px;
  height:4px;
}
#u242 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u243 {
  position:absolute;
  left:48px;
  top:625px;
  width:4px;
  height:34px;
}
#u244 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u246_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u246 {
  position:absolute;
  left:48px;
  top:219px;
  width:34px;
  height:4px;
}
#u247 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u248 {
  position:absolute;
  left:48px;
  top:219px;
  width:4px;
  height:34px;
}
#u249 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u251_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u251 {
  position:absolute;
  left:344px;
  top:219px;
  width:34px;
  height:4px;
}
#u252 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u253 {
  position:absolute;
  left:374px;
  top:219px;
  width:4px;
  height:34px;
}
#u254 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u256_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:39px;
  height:9px;
}
#u256 {
  position:absolute;
  left:344px;
  top:655px;
  width:34px;
  height:4px;
}
#u257 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:39px;
}
#u258 {
  position:absolute;
  left:374px;
  top:625px;
  width:4px;
  height:34px;
}
#u259 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:69px;
  top:689px;
}
#u260_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u260_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  overflow:hidden;
  touch-action:none;
}
#u261_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u261_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u263 {
  position:absolute;
  left:145px;
  top:29px;
  width:10px;
  height:10px;
}
#u264 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u265 {
  position:absolute;
  left:136px;
  top:0px;
  width:28px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u266 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
  background:inherit;
  background-color:rgba(89, 89, 89, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:69px;
  top:722px;
  width:300px;
  height:2px;
}
#u268 {
  position:absolute;
  left:2px;
  top:-7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u269 {
  position:absolute;
  left:35px;
  top:692px;
  width:30px;
  height:30px;
}
#u270 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u271 {
  position:absolute;
  left:364px;
  top:152px;
  width:26px;
  height:30px;
}
#u272 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u273 {
  position:absolute;
  left:326px;
  top:152px;
  width:30px;
  height:30px;
}
#u274 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u276 {
  position:absolute;
  left:167px;
  top:742px;
  width:105px;
  height:28px;
  opacity:0.699999988079071;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u277 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u278 {
  position:absolute;
  left:192px;
  top:748px;
  width:57px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u279 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
